In [1]:
import seaborn as sns
df = sns.load_dataset('titanic')
df.isnull().sum()[df.isnull().sum() > 0]

age            177
embarked         2
deck           688
embark_town      2
dtype: int64

In [2]:
import seaborn as sns
df = sns.load_dataset('titanic')
df = df.dropna(subset = ['embarked'])
df.isnull().sum()[df.isnull().sum() > 0]

age     177
deck    688
dtype: int64